aiocache==0.10.1
aiocqhttp==0.6.8
aiofiles==0.4.0
aiohttp==3.7.4
appnope==0.1.0
APScheduler==3.6.1
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==19.1.0
Automat==0.7.0
backcall==0.1.0
beautifulsoup4==4.8.0
bleach==3.1.0
blinker==1.4
bs4==0.0.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
constantly==15.1.0
cryptography==2.7
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
Django==2.2.4
entrypoints==0.3
Flask==1.1.1
Flask-Login==0.4.1
Flask-WTF==0.14.2
h11==0.9.0
h2==3.1.0
hpack==3.0.0
Hypercorn==0.5.4
hyperframe==5.2.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
ipykernel==5.1.1
ipython==7.6.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.14.1
jieba==0.39
Jinja2==2.10.1
joblib==0.13.2
jsmin==2.2.2
jsonschema==3.0.1
jupyter-client==5.3.1
jupyter-core==4.5.0
jupyterthemes==0.20.0
kaggle==1.5.5
kiwisolver==1.1.0
lesscpy==0.13.0
lxml==4.3.4
MarkupSafe==1.1.1
matplotlib==3.1.1
mistune==0.8.4
multidict==4.5.2
mysqlclient==1.4.4
nbconvert==5.5.0
nbformat==4.4.0
nonebot==1.3.1
notebook==6.0.0
numpy==1.16.4
pandas==0.25.1
pandocfilters==1.4.2
parsel==1.5.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.1.0
ply==3.11
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pyasn1==0.4.7
pyasn1-modules==0.2.6
pycparser==2.19
pycurl==7.43.0.3
PyDispatcher==2.0.5
Pygments==2.4.2
PyHamcrest==1.9.0
PyMySQL==0.9.3
pyOpenSSL==19.0.0
pyparsing==2.4.1.1
pyquery==1.4.0
pyrsistent==0.15.3
pyspider==0.3.10
python-dateutil==2.8.0
python-slugify==3.0.3
pytoml==0.1.21
pytz==2019.1
PyYAML==5.1.2
pyzmq==18.0.2
Quart==0.6.13
queuelib==1.5.0
requests==2.22.0
schedule==0.6.0
scikit-learn==0.21.3
scipy==1.3.1
Scrapy==1.7.3
seaborn==0.9.0
Send2Trash==1.5.0
service-identity==18.1.0
six==1.12.0
sklearn==0.0
sortedcontainers==2.1.0
soupsieve==1.9.2
sqlparse==0.3.0
tblib==1.4.0
terminado==0.8.2
testpath==0.4.2
text-unidecode==1.2
tornado==4.5.3
tqdm==4.35.0
traitlets==4.3.2
Twisted==19.7.0
typing-extensions==3.7.4
tzlocal==2.0.0
u-msgpack-python==2.5.2
urllib3==1.24.3
w3lib==1.21.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.5
WsgiDAV==3.0.0
wsproto==0.14.1
WTForms==2.2.1
xmltodict==0.12.0
yarl==1.3.0
zope.interface==4.6.0
